* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  line-height: 1.2; 
  font-size: 16px; 
}

body {
  font-family: 'Roboto', Arial, 'Helvetica', sans-serif;
  font-size: 1rem;
  background-color: white;
}

section {
  position: relative;
  margin-bottom: 40px;
  /* background-color: yellow;
  outline: 2px solid red;    */
}


@media (min-width: 426px) {
  main {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  section {
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
    
}

.invisible {
  display: none;
}

.upper-text {
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.nav-section {
  text-align: center;
  height: 135px;
}

.section-caption {
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 5.44rem;
  font-weight: 300;
}

.section-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.quote {
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: 200;
}

.photo-caption-large {
  font-size: 1.125rem;
  font-weight: 500;
}

.photo-caption-normal {
  font-size: 1rem;
  font-weight: 400;
}

.photo-caption-normal-bold {
  font-size: 1rem;
  font-weight: 700;
}

.external-link, .external-link-bold {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.external-link-bold {
  font-weight: 700;
}

/* ------ Mod Studio ------------- */ 

.mod-studio-plat {
  font-size: 4.375rem;
  padding: 2.16em 0;
  text-align: center;
}

.mod-studio-caption {
  font-size: 1em;
}

.mod-studio-title {
  font-size: 0.257em;
}

.mode-studio-image {
  width: 100%;
  height: 414px;
  object-fit: none;
  object-position: center bottom;
}

@media (min-width: 426px) {

  .mod-studio-plat {
    background-color: white;  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 5.5rem;
    padding: 1.5em 0.8em;
  }

  .mod-studio-title {
    font-size: 0.205em;
    top: 250px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .mod-studio-caption {
    white-space: nowrap;
  }

  .mode-studio-image {
    position: absolute;
    left: 48.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 1065px;
    max-height: 630px;
    object-fit: cover;
  }
    
}

/* ------------ Biographi ----------------- */

.biography-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.biography-title {
  position: absolute;
  z-index: 1;
  right: 38px;
  top: 20px;
}

.biography-left {
  order: 2;
}

.biography-right {
  display: flex;
  order: 1;
}

.katya-block-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
} 

.katya__art {
  margin: 0 1rem;
  padding-top: 40px;
  order: 0;
}

.katya__prof {
  width: 10rem;
  order: 1;
  margin: 40px 1rem 60px;
}

.katya-quote {
  order: 2;
  text-align: center;
  margin: 0 1rem 60px;
}

.katya-caption {
  order: 3;
  width: 100vw;
  text-align: center;
}


.katya-image {
  width: 100vw;
  height: 353px;
  object-fit: none;
}


@media (min-width: 426px) {

  .biography-section {
    flex-direction: row;
  }

  .biography-title {
    right: 38px;
    top: unset;
    bottom: 100px;
    transform: rotate(-90deg);
    margin: 0 0;
  }

  .biography-column {
    width: 50%;
    height: 100%;
    position: relative;
  }

  .biography-left {
    order: 1;
    text-align: right;
    overflow: hidden;
  }

  .biography-right {
    order: 2;
    padding-left: 8%; 
  }

  .biographi-separator {
    width: 14px;
    height: 4px;
    margin-top: 3.875em;
    margin-bottom: 1.9375em;
    background-color: black;
    border: none; 
    order: 3;
  }

  .biographi__space {
    width: 100%;
  }

  .katya-image {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 553px;
    max-height: 840px;
    margin-right: 32px;
    object-fit: cover;
    right: 0px;
    top: 50%;
    transform: translateY(-53.5%);
  }

  .katya-block-right {
    position: absolute;
    top: 51.6%;
    transform: translateY(-50%);
    height: 100%;
  }

  .katya-caption {
    margin: 180px 0 34px 0;
    width: 3em;
    order: 0;
    text-align: left;
  }

  .katya__art {
    padding: 0;
    margin: 0;
    width: 100%;
    order: 1
  }

  .katya__prof {
    width: unset;
    order: 2;
    margin: 0;
  }

  .katya-quote {
    width: 100%;
    max-width: 13em;
    text-align: left;
    order: 4;
    margin: 0;
  }

}

/* ------------- Designers -------------- */ 

.disigners-title {
  width: 100vw;
  text-align: right;
  padding: 72px 1rem 60px;
}

.designer {
  width: 100%;
  display: flex;
  align-items: baseline;
  overflow: auto;
  justify-content: flex-start;
  gap: 24px;
  margin-left: 1rem;
}

.designer__item {
  padding-top: 6.5%;
  width: 309px;
  flex-shrink: 0;
}

.designer__item_big {
  display: none;
}

.designer__item_big:first-child {
  margin-left: 0;
} 

.designer__item_big:last-child {
  margin-right: 0;
}

.designer__item img {
   width: 100%;
  height: 442px;
  object-fit: cover;
  margin-bottom: 18px;
}

.designer__item_big img {
  height: 538px;
}

.designer__item_big .designer__text {
  display: inline-block;
  text-align: left;
}

@media (min-width: 426px) {

  .disigners-title {
    width: auto;
    padding: 0;
    position: absolute;
    right: 25%;
    top: 50%;
    margin-top: -315px;
    z-index: 1;
    transform: rotate(-90deg) translateY(-50%);
  }

  .designer__item_big {
    display: block;
    padding-top: 0%;
    width: 609px;
    text-align: center;
    margin: 0 80px;  
  }
  
}

/* ------------ Testimonial -------------- */

.testimonial {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;

}

.testimonial_title {
  width: 100vw;
  text-align: right;
  padding: 120px 1rem 120px;
  order: 0;
}

.testimonial__quote {
  text-align: center;
  margin: 0 2rem 60px;
  order: 1;
}

.testimonial__limage {
  width: 100vw;
  height: 333px;
  object-fit: cover;
  margin-bottom: 40px;
  order: 2;
}

.testimonial__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  order: 3;
}

.testimonial__link {
  width: 50%;
  margin-bottom: 20px;
}

.testimonial__mimage {
  display: none;
}

@media (min-width: 426px) {

  .testimonial {
    display: grid; 
    grid-template-columns: 12% 38% 50%;
    grid-template-rows: 14.66% 85.34%;
    align-items: stretch;
    width: 100%;
  }

  .testimonial_title {
    width: auto;
    text-align: left;
    grid-column: 2 / 4;
    align-self: flex-end;
    padding: 0 0 34px 0;
  }
  
  .testimonial__links {
    grid-row: 2 / 3;
    flex-direction: column;
    max-height: 757px;
  }
  
  .testimonial__link {
    transform: rotate(-90deg) translateY(54%);
    height: 33%;
    align-self: flex-end;
    margin-bottom: 0;
  }
  
  .testimonial__mimage {
    display: block;
    width: 100%;
    max-width: 515px;
    max-height: 757px;
    overflow: hidden;
  }
  
  .testimonial__quote {
    width: 206px;
    margin: 1.5% 0 0 38%;
    overflow: hidden;
  }
  
  .testimonial__limage {
    width: 100%;
    max-width: 221px;
    object-fit: cover;
    margin: 3.5% 0 0 36.5%;
    overflow: hidden;
  }  
  
  @media (max-height: 750px) {
    .testimonial__quote {
      width: 70%;
      margin-left: 15%;
    }
  }
  
}

/* -------------- Strengths -------------- */

.strengths {
  display: block;
}

.strengths__title {
  padding: 60px 1rem 60px;
  text-align: right;
}

.strengths__caption {
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 5.75rem;
  font-weight: 300;
  width: 100vw;
  text-align: center;
}

.strengths__container {
  display: flex;
  overflow: auto;
  gap: 24px;
  margin-left: 1rem;
}

.strengths__list {
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 2.125rem;
  font-weight: 300;
  line-height: 1.15; 
  list-style-type: none;
  width: 50vw;
  order: 0;
}

.strengths__notebook {
  order: 1;
}

.strengths__chiar {
  display: none;
}


@media (min-width: 426px) {

  .strengths__title {
    position: absolute;
    left: 30.5%;
    top: 154px;
    padding: 0 0;
    text-align: left;
    transform: rotate(-90deg) translateY(-50%);
  }

  .strengths__caption {
    text-align: left;
    padding: 10% 0 1% 56%;
  }

  .strengths__container {
    display: block;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0 0;
  }

  .strengths__list {
    width: none;
  }

  .strengths__chiar {
    display: block;
  }
  
  .strengths__item {
    display: inline-block;
    vertical-align: top;
    width: 351px;
    margin-right: 1%;
  }

  .strengths__item_big {
    display: inline-block;
    vertical-align: top;
    padding: 34px 0 0 148px;
    width: 600px;
  }

  @supports (display: flex) {

    .strengths__container {
      display: flex;
      flex-direction: row;
      overflow: auto;
    }
  
    .strengths__item {
      flex-shrink: 0;
    }

    .strengths__item_big {
      flex-shrink: 0;
    }
  }

}


