* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  line-height: 1.2; 
  font-size: 16px; 
}

body {
  font-family: 'Roboto', Arial, 'Helvetica', sans-serif;
  font-size: 1rem;
  background-color: white;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  height: 100vh;
  min-height: 600px;
  max-height: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: yellow;
  outline: 2px solid red;  */
}

.invisible {
  display: none;
}

.upper-text {
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.nav-section {
  text-align: center;
  height: 135px;
}

.section-caption {
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 5.44rem;
  font-weight: 300;
}

.section-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.quote {
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: 200;
}

.strengths-caption {
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 5.75rem;
  font-weight: 300;
}

.photo-caption-large {
  font-size: 1.125rem;
  font-weight: 500;
}

.photo-caption-normal {
  font-size: 1rem;
  font-weight: 400;
}

.photo-caption-normal-bold {
  font-size: 1rem;
  font-weight: 700;
}

.external-link, .external-link-bold {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.external-link-bold {
  font-weight: 700;
}

.mod-studio-plat {
  background-color: white;  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 5.5rem;
  padding: 1.5em 0.8em;
}

.mod-studio-caption {
  white-space: nowrap;
  font-size: 1em;
}

.mod-studio-title {
  font-size: 0.205em;
  top: 250px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.mode-studio-image {
  position: absolute;
  left: 48.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 1065px;
  max-height: 630px;
  object-fit: cover;
}

.biography-title {
  position: absolute;
  right: 38px;
  bottom: 100px;
  z-index: 1;
  transform: rotate(-90deg);
}

.biography-column {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}

.biography-left {
  text-align: right;
  overflow: hidden;
}

.biography-right {
  padding-left: 8%; 
}

.biographi-separator {
  width: 14px;
  height: 4px;
  margin-top: 3.875em;
  margin-bottom: 1.9375em;
  background-color: black;
  border: none;
}
.katya-image {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 553px;
  max-height: 840px;
  margin-right: 32px;
  object-fit: cover;
  right: 0px;
  top: 50%;
  transform: translateY(-53.5%);
}

.katya-block-right {
  position: absolute;
  top: 51.6%;
  transform: translateY(-50%);
}

.katya-caption {
  margin-bottom: 36px;
  width: 4em;
}

.katya-quote {
  width: 100%;
  max-width: 13em;
}

.disigners-title {
  position: absolute;
  right: 25%;
  top: 50%;
  margin-top: -315px;
  z-index: 1;
  transform: rotate(-90deg) translateY(-50%);
}

.designer {
  width: 100%;
  display: flex;
  align-items: baseline;
  overflow: auto;
  justify-content: flex-start;
  gap: 24px;
}

.designer__item {
  padding-top: 6.5%;
  width: 309px;
  flex-shrink: 0;
}

.designer__item_big {
  padding-top: 0%;
  width: 609px;
  text-align: center;
  margin: 0 80px;
}

.designer__item_big:first-child {
  margin-left: 0;
} 

.designer__item_big:last-child {
  margin-right: 0;
}

.designer__item img {
   width: 100%;
  height: 442px;
  object-fit: cover;
  margin-bottom: 18px;
}

.designer__item_big img {
  height: 538px;
}

.designer__item_big .designer__text {
  display: inline-block;
 text-align: left;
}

.strengths-list{
  font-family: Butler, Times, 'Times New Roman', serif;
  font-size: 2.125rem;
  font-weight: 300;
}


